* {
    margin: 0;
    padding: 0;
}

.contaner {
    background-image: url(/razer-gaming-setup-8k-hr-2560x1600.jpg);
    height: 628px;
    background-size: cover;
}

.blok-1 {
    margin: 0 auto;
    padding-top: 15px;
    width: 80%;
}

.blok-1 h1 {
    color: red;
    padding: 15px;
    display: inline;
}

ul,
li {
    display: inline;
}

ul {
    float: right;
}

ul li a {
    text-align: right;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
}

.salom {
    text-align: center;
    color: red;
    font-family: fantasy;
    font-size: 1.5em;
    padding-top: 150px;
    margin-bottom: 30px;    
}

.button {
    margin: 0 auto;
    width: 250px;
}

.azo {
    width: 100px;
    height: 100px;
    color: red;
    border-radius: 50%;
    transition-duration: 0.5s;
    font-family: 'Festive', cursive;
    font-weight: bolder;

}

.azo:hover {
    cursor: pointer;
    color: white;
    background-color: red;
    padding-top: 30px;
    border-color: red;
}

.kirish {
    width: 100px;
    height: 100px;
    color: red;
    border-radius: 50%;
    transition-duration: 0.5s;
    font-family: 'Festive', cursive;
    font-weight: bolder;
}

.kirish:hover {
    cursor: pointer;
    padding-top: 30px;
    color: white;
    background-color: red;
    border-color: red;
}
ul li a:hover{
    color:green;
    border-bottom: 5px solid red;
}
.firdavs{
    box-sizing: border-box;
}
.firdavs:hover{
    color: navajowhite;
    border: 4px dashed green;
}